#button:hover i {
  transform: scale(1); /* Scale the icon up by 20% */
  filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.5)); /* Add a drop shadow to the icon */
  color: #000; /* Change the icon color to black */
}
.block-h1 {
  display: block;
}

@media (max-width: 768px) {
	.box {
			max-width: 150px;
	}
}

@media (max-width: 480px) {
	.box {
			max-width: 100px;
	}
}

